@charset "UTF-8";
#container>header>#center>nav>ul {
    display: flex;
}
#container>header>#center>nav>ul>li>a {
    display: block;
    padding: 8px 0 7px 28px;
    cursor: pointer;
}

/* ========================== 
Mobile
========================== */
@media screen and (max-width:767px) {
    /* ヘッダー ========================== */
    #container>header>#center>nav>ul>li>a {
        padding: 8px 0 7px 10px;
    }
}