@charset "UTF-8";
#works a {
    display: inline-block;/*ブロック要素にする*/
    width:200px;/*ブロック要素にしたので幅や高さが指定出来る*/
    height:200px;
    font-size:2em;
    color: aqua;
    padding-top: 50px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
}
.kadai{
    grid-auto-rows: 100px;
    justify-content: space-around;
    /* グリッド全体を均等に配置 */
    }